[submodule "fla"]
	path = fla
	url = https://github.com/fla-org/flash-linear-attention
[submodule "local-attention"]
	path = local-attention
	url = https://github.com/lucidrains/local-attention.git
[submodule "leaderboard"]
	path = leaderboard
	url = https://huggingface.co/spaces/nanoman1/lizard-kernel-leaderboard
